$colorprincipal: black;
$colorsecundario: white;

@keyframes slide-in {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0); }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

.navbar{
    font-family: 'Montserrat', sans-serif;
    font-size:large
}

.navbar-brand{
    font-weight: bolder;
}

ul li{
    display: inline;
}

li a{
    text-decoration: none;
    color: $colorsecundario;
}

main{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: $colorsecundario;
}

.mainhome{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: $colorsecundario;
    background-image: url(./img/mic.jpg);
    background-size: cover;


    .lemamain{
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 800px;
        color: $colorsecundario;
        font-size: 20px;
    }

}

.main-reel{
    height: 100%;
    width: 100%;
    background-color: $colorprincipal;
}

.reel{
    background-color: $colorprincipal;
    height: 400px;
    padding: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

iframe{
    height: 100%;
    width: 60%;
}

.tituloreel{
    color: $colorsecundario;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 50px;
    animation: slide-in 3s forwards;
    font-weight: bolder;
    background-color: $colorprincipal;
}

.reel-sec2{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .imgreel{
        width: 30%;
        height: 80px;
        margin: 30px;
    }
}

h2{
    text-align: center;
    background-color: $colorsecundario;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding: 10px;
}

.tituloquehacemos{
    margin: 70px;
    font-size: 30px;
}

.nosotros{
    height: 600px;
}

.titulonosotros{
    margin: 70px;
    font-size: 30px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    grid-gap: 50px 20px;
    padding: 0%;
    height: 800px;
    place-items: center;
    grid-gap: 30px;

    .item{
        height: 250px;
        width: 250px;
        background-color: $colorsecundario;
        background-size: cover;
        background-position: center;
        margin-top: 70px;
        
    }

}

.nombrenosotros{
    font-size: 19px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    align-items: center;
    padding: 60px;   
}

.grid-item img{
    max-width: 100%;
    height: auto;
    display: block;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

.mainproyectos{
    height: 100%;
}

#fondocontacto{
    background-image: url(/img/layered-waves-haikei.svg);
}

.card{
    margin: 30px;
}

#botton{
    background-color: rgba(47, 47, 47, 0.865);
    object-position: center;
}

footer{
    text-align: center;
    align-items: center;
    font-size: 16px;
    color: $colorsecundario;
    height: 50px;
    background-color: $colorprincipal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    position: fixed;
	bottom: 0;
}

.list-inline-item{
    padding-left: 50px;
    padding-top: 15px;
    
}

.parrafofooter{
    padding-top: 15px;
    font-size: 10px;
    
    
}

@media only screen and (max-width:844px){

    .mainhome{
        height: calc(100vh - 80px);
        width: 100%;
        background-color: rgb(255, 255, 255);
        background-image: url(./img/mic.jpg);
        background-size: cover;
        background-position: center;
        
    }

    .contenedor{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3,1fr);
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0%;
        height: 1200px;
        width: 100%;
        place-items: center;
        grid-gap: 40px;
        background-color: rgb(255, 255, 255);
    }

    .item{
        height: 100%;
        width: 250px;
        background-color: $colorsecundario;
        background-size: cover;
        background-position: center;
    }

    .item img{
        border-radius: 50px;
        
    }

    .mainproyectos{
        height: auto;
        background-color: $colorprincipal;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
    }

    .pfer{
        height: 120px;
    }

    .carousel-item img {
        width: 100%;
        height: 250px;
        padding: 10px;
        margin-top: 100px;
        background-color: $colorsecundario;
    }
    
    .mainproyectos{
        height: auto;
        background-color: $colorsecundario;
        position: fixed;
    }

    .grid-container{
        display: grid;
        align-items: center;
        padding-left: 40px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        width: 100%;
        grid-gap: 10px;
        margin-top: 50px;
        background-color: $colorsecundario;
    }

    .grid-item:hover{
        scale: 1.2;
        transition: 0.3s;
    }


    #botton{
        background-color: rgba(57, 57, 57, 0.337);
    }

    .form-control{
        background-color: rgba(121, 121, 121, 0.11);
    }

    iframe{
        height: 100%;
        width: 100%;
    }
    
    .tituloreel{
        font-size: 16px;
        text-shadow: 2px 2px 5px $colorsecundario;
    }

    .reel-sec2{
        height: 300px;
        padding: 10px;
        margin: 10px;
    }
}